<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804926916850-fqpk4r20vsfq5kfmtshud673an054fk3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804926916850-fqpk4r20vsfq5kfmtshud673an054fk3</string>
	<key>API_KEY</key>
	<string>AIzaSyDx3K1zZSxm4O701uEEZiYY9JJFzKNMOuU</string>
	<key>GCM_SENDER_ID</key>
	<string>804926916850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agos.agosApp</string>
	<key>PROJECT_ID</key>
	<string>agos-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>agos-prod.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804926916850:ios:463fc7c5999c2ee7c8286b</string>
</dict>
</plist>